
@model IEnumerable<UygulamaWebSıte.Models.Kategori>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Insert")
    </p>
    @Html.DropDownList("Insert")
</body>
</html>